/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

@font-face {
  font-family: "GraphPix";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/Graph-35-pix.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  --font-sans: "GraphPix", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  @apply bg-gray-950 font-sans text-white;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
